/* CSS Document */

.wiseTopRowPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
	padding:49px;	
}
.wiseTopRowClientPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
	padding:64px;	
}
.wiseIndexHeroHeading {
	font-size:24px; 
	line-height:40px;
}
.wiseIndexHeroText {
	font-size:16px; 
	line-height:25px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	.wiseTopRowPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:49px;	
	}
	.wiseTopRowClientPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:64px;	
	}

}

/* Desktop
------------------------- */
@media (max-width: 980px) {
	.wiseTopRowPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:49px;	
	}
	.wiseTopRowClientPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:64px;	
	}

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
	.wiseTopRowPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:0px;	
	}
	.wiseTopRowClientPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:15px;	
	}
}

/* Tablet
------------------------- */
@media (max-width: 768px) {
	.wiseTopRowPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:0px;	
	}
	.wiseTopRowClientPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:15px;	
	}
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
	.wiseTopRowPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:0px;	
	}
	.wiseTopRowClientPush { /*pushes page down the height of the navbar - TODO: use a varialbe for this based on nav bar height variables*/
		padding:15px;	
	}
	.wiseIndexHeroHeading {
	font-size:24px; 
	line-height:30px;
}
	.wiseIndexHeroText {
		font-size:16px; 
		line-height:20px;
	}
	.hero-unit {
		padding-top:15px;
	}
}